$aliveBlue: rgb(0, 195, 255);

$killedBlue:rgb(209, 235, 235);

$buttonBgBlue: rgba(0, 123, 255, 0.281);
$buttonFgBlue: rgb(0, 178, 190);

$deadWhite:white;

$blackestBlack: black;
$gridColor: rgb(124, 124, 124);

html, body {
	min-height: 100%;
	height: 100%;
	max-height: 100%;
}

html {
	padding-bottom: 1rem;
}

#hideHudButton{
	background-color: $buttonBgBlue;
	color: $buttonFgBlue;
}

.boardRow{
	width: 100%;
	float: left;
	//margin: 0% !important;
}

#gameField {
	//border: solid 1px $gridColor;
	display: inline-block !important;
	//margin: 0% !important;
	max-height: 100% !important;
	height: 100% !important;
}

.cell-initdead, .cell-dead, .cell-alive{
	border: solid 1px $gridColor;

	height: 0;
	float: left;
}


.cell-initdead {
	background-color: $deadWhite;
	color: $blackestBlack;
}

.cell-dead {
	background-color: $killedBlue;
	color: $blackestBlack;
}

.cell-alive {
	background-color: $aliveBlue;
	color: $blackestBlack;
}

.badge-large{
	font-size: 1rem;
	margin-bottom: 0.6rem;
}

@media (min-width: 768px) {
	.badge-large{
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
	}
  }